[Unit]
Description=xwww Wayland wallpaper daemon
Documentation=man:xwww-daemon(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xwww-daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target